#user_login_stitchz_providers_list {
  position: relative;
}

#stitchz-social-login-config-settings-form-fieldset,
#stitchz-social-login-config-settings-provider-list,
#stitchz-social-login-config-settings-display,
#stitchz-social-login-addin-form-fieldset-identities,
#stitchz-social-login-addin-form-fieldset-providers {
  width: 47%;
  margin: 0.5em;
  float: left;
}

.provider_list_title {
  font-size: 1.15em;
  font-weight: 700;
}

.icon_footer {
  position: relative;
  margin-top: -20px;
  /* negative value of footer height */
  height: 20px;
  clear: both;
  margin-top: 0.5em;
}
.icon_footer img {
  width: 55px;
  height: 40px;
  vertical-align: middle;
  border: 0;
}
.icon_footer .left {
  float: left;
  position: relative;
}
.icon_footer .right {
  float: right;
  position: relative;
}

ul.stitchz_social_login_provider_list,
ul.stitchz_social_login_profile_identities_list {
  position: relative;
  padding: 0;
  margin: 0;
}

li.stitchz_social_login_provider,
li.stitchz_social_login_identity {
  list-style-type: none;
  margin-bottom: 1em;
}

li.stitchz_social_login_identity {
  width: 175px;
}

div.stitchz_social_login_identity_provider {
  float: left;
  position: relative;
  width: 80%;
  margin-right: 0.25em;
}

.stitchz_social_login_identity_provider_actions {
  float: left;
  position: relative;
  margin-top: 8px;
}

li.stitchz_social_login_provider.big {
  border: 1px solid #000;
  margin: 0.5em 0;
  padding: 0.25em 0;
  width: 150px;
}

li.stitchz_social_login_provider a,
li.stitchz_social_login_identity a {
  font-size: 1em;
}

div.stitchz_social_login_identity_provider_actions a {
  font-size: 1.5em;
}

.stitchz_social_login_provider,
.stitchz_social_login_identity_provider {
  font-size: 1.5em;

  text-indent: 0;
  width: auto;

  padding: 6px 10px 6px 0;
  background-position: 2px center;

  border-width: 1px;
  border-style: solid;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  background-color: #4d7de1;
  border-color: #294c89;
}

.stitchz_social_login_provider.big,
.stitchz_social_login_provider-inactive.big {
  padding: 6px 14px 6px 34px;
}

.stitchz_social_login_provider,
.stitchz_social_login_provider a,
.stitchz_social_login_identity_provider {
  color: #ffffff;
}

.stitchz_social_login_provider a:hover,
.stitchz_social_login_identity_provider a:hover {
  color: #c0c0c0;
}

.stitchz_social_login_provider-inactive,
.stitchz_social_login_identity_provider-inactive {
  background-color: #c7c7c7;
  border-color: #7b7b7b;
  color: #3f3f3f;
}

.stitchz_social_login_provider:hover:after,
.stitchz_social_login_provider-inactive:hover:after,
.stitchz_social_login_identity_provider:hover:after,
.stitchz_social_login_identity_provider-inactive:hover:after {
  background-image: none;
}

.stitchz_social_login_provider:hover,
.stitchz_social_login_identity_provider:hover {
  background-color: #5384ed;
}

.stitchz_social_login_provider-inactive:hover,
.stitchz_social_login_identity_provider-inactive:hover {
  background-color: #d9d9d9;
}

.stitchz_social_login_provider.google-plus,
.stitchz_social_login_provider.google,
.stitchz_social_login_identity_provider.google-plus,
.stitchz_social_login_identity_provider.google {
  background-color: #dd4b39;
}

.stitchz_social_login_provider.facebook,
.stitchz_social_login_identity_provider.facebook {
  background-color: #3b5998;
}

.stitchz_social_login_provider.twitter,
.stitchz_social_login_identity_provider.twitter {
  background-color: #00aced;
}

.stitchz_social_login_provider.openid,
.stitchz_social_login_identity_provider.openid {
  background-color: #fcfcfc;
}

.stitchz_social_login_provider.openid a,
.stitchz_social_login_identity_provider.openid a {
  color: #000000;
}

.stitchz_social_login_provider.linkedin,
.stitchz_social_login_identity_provider.linkedin {
  background-color: #007bb6;
}

.stitchz_social_login_provider.instagram,
.stitchz_social_login_identity_provider.instagram {
  background-color: #517fa4;
}

.stitchz_social_login_provider.flickr,
.stitchz_social_login_identity_provider.flickr {
  background-color: #0063dc;
}

.stitchz_social_login_provider.vk,
.stitchz_social_login_identity_provider.vk {
  background-color: #45668e;
}

.stitchz_social_login_provider.tumblr,
.stitchz_social_login_identity_provider.tumblr {
  background-color: #35465c;
}

.stitchz_social_login_provider.foursquare,
.stitchz_social_login_identity_provider.foursquare {
  background-color: #0072b1;
}

.stitchz_social_login_provider.yahoo,
.stitchz_social_login_identity_provider.yahoo {
  background-color: #400191;
}

.stitchz_social_login_provider.amazon,
.stitchz_social_login_identity_provider.amazon {
  background-color: #ff9900;
}

.stitchz_social_login_provider.soundcloud,
.stitchz_social_login_identity_provider.soundcloud {
  background-color: #ff8800;
}

.stitchz_social_login_provider.dropbox,
.stitchz_social_login_identity_provider.dropbox {
  background-color: #007ee5;
}

.stitchz_social_login_provider.windows,
.stitchz_social_login_identity_provider.windows {
  background-color: #00bcf2;
}

.stitchz_social_login_provider.paypal,
.stitchz_social_login_identity_provider.paypal {
  background-color: #253b80;
}
.stitchz_social_login_provider.box,
.stitchz_social_login_identity_provider.box {
  background-color: #318bca;
}

.stitchz_social_login_provider.salesforce,
.stitchz_social_login_identity_provider.salesforce {
  background-color: #1798c1;
}

.stitchz_social_login_provider.discogs,
.stitchz_social_login_identity_provider.discogs {
  background-color: #333333;
}
